{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    {% include 'panel/partials/head.html' %}
    {% block custom_css %}
    {% endblock %}
    {% block title%}
    {% endblock %}
    <title></title>
</head>

<body>
<div class="app panel">

    {% include 'panel/partials/header.html' %}

    <section class="panel-body">
        {% include 'panel/partials/sidebar.html' %}

        <div id="panel-main" class="panel-main">
            <div class="dashboard">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </section>
</div>


</body>
{% include 'panel/partials/main-js.html' %}
{% block custom_js %}
{% endblock %}
</html>