{% extends 'panel/base.html' %}
{% load static %}
{% block title%}
<title>پنل - درخواست استخدام</title>
{% endblock %}
{% block custom_sidebar %}
<div class="panel-sidebar--container__wrapper">
    <ul>
        <li>
            <a href="dashboard.html">
                <i class="icon icon-solid-home"></i> داشبورد
            </a>
        </li>
        <li>
            <a href="orders-transactions.html">
                <i class="icon icon-dir-arrows"></i> سفارشات و تراکنش ها
            </a>
        </li>
        <li>
            <a href="cart.html">
                <i class="icon icon-solid-cart"></i> خرید و ثبت سفارش
            </a>
        </li>
        <li>
            <a href="ticket.html">
                <i class="icon icon-solid-plane"></i> ارسال تیکت
            </a>
        </li>
        <li>
            <a href="employment.html" class="active">
                <i class="icon icon-solid-form"></i> درخواست استخدام
            </a>
        </li>
        <li>
            <a href="wallet.html">
                <i class="icon icon-solid-wallet"></i> کیف پول
            </a>
        </li>
    </ul>

    <div class="invite-code">
        <h6>کد دعوت شما</h6>
        <div class="invite-code--box">
            5563
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="employment">
    <div class="employment--wrapper">
        <div class="container-fluid">
            <div class="row">
                <h5 class="panel-title panel-title--2 mb-4">
                    فرم استخدام
                </h5>
            </div>
            <form class="row justify-content-center justify-content-lg-start">
                <div class="col-12 col-lg-9 mb-5 mb-lg-0">
                    <div class="employment--wrapper__form">
                        <div class="row gx-5 gy-4">
                            <div class="col-12 col-sm-6">
                                <label for="fullName" class="form-label">نام و نام خانوادگی</label>
                                <input type="text" class="form-control" id="fullName">
                            </div>
                            <div class="col-12 col-sm-6">
                                <label for="education" class="form-label">تحصیلات</label>
                                <input type="text" class="form-control" id="education">
                            </div>
                            <div class="col-12 col-sm-6">
                                <label for="birthDate" class="form-label">تاریخ تولد</label>
                                <input type="text" class="form-control date1 pwt-datepicker-input-element"
                                       id="birthDate">
                            </div>
                            <div class="col-12 col-sm-6">
                                <label for="expertise" class="form-label">تخصص / حرفه</label>
                                <input type="text" class="form-control" id="expertise">
                            </div>
                            <div class="col-12">
                                <label for="work-experience" class="form-label">سابقه کار</label>
                                <textarea class="form-control" id="work-experience"
                                          placeholder="اگر سابقه کاری  و یا نکته ایی هست   بنویسید ....."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-lg-3">
                    <div class="employment--wrapper__send mb-5 text-center d-flex flex-column justify-content-between align-items-center">
                        <div class="employment--wrapper__send__file">
                            <h6>بارگذاری مدارک</h6>
                            <p>
                                شما میتوانید در این قسمت
                                عکس و فایل خود را تا
                                اپلود کنید
                            </p>
                            <label for="file-1" class="btn btn-primary upload-button">آپلود فایل</label>
                            <input type="file" id="file-1" class="d-none">
                        </div>
                        <input class="btn btn-primary employment-button d-block mx-auto" type="submit"
                               value="ارسال مدارک">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script src="{% static 'panel/node_modules/persian-date/dist/persian-date.min.js' %}"></script>
<script src="{% static 'panel/node_modules/persian-datepicker/dist/js/persian-datepicker.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".date1").pDatepicker({
            observer: true,
            format: 'YYYY/MM/DD',
            altField: '.observer-example-alt'
        });
    });
</script>
{% endblock %}