{% extends 'panel/base.html' %}
{% load static %}
{% block title%}
<title>پنل - کیف پول</title>
{% endblock %}
{% block custom_sidebar %}
<div class="panel-sidebar--container__wrapper">
    <ul>
        <li>
            <a href="dashboard.html">
                <i class="icon icon-solid-home"></i> داشبورد
            </a>
        </li>
        <li>
            <a href="orders-transactions.html">
                <i class="icon icon-dir-arrows"></i> سفارشات و تراکنش ها
            </a>
        </li>
        <li>
            <a href="cart.html">
                <i class="icon icon-solid-cart"></i> خرید و ثبت سفارش
            </a>
        </li>
        <li>
            <a href="ticket.html">
                <i class="icon icon-solid-plane"></i> ارسال تیکت
            </a>
        </li>
        <li>
            <a href="employment.html">
                <i class="icon icon-solid-form"></i> درخواست استخدام
            </a>
        </li>
        <li>
            <a href="wallet.html" class="active">
                <i class="icon icon-solid-wallet"></i> کیف پول
            </a>
        </li>
    </ul>

    <div class="invite-code">
        <h6>کد دعوت شما</h6>
        <div class="invite-code--box">
            5563
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="wallet">
    <div class="wallet--wrapper">
        <div class="container-fluid">
            <div class="row">
                <h5 class="panel-title panel-title--2 mb-4">
                    کیف پول
                </h5>
            </div>
            <div class="row mt-lg--5">
                <div class="wallet--wrapper__cash text-center">
                    <div class="d-flex justify-content-center align-items-center flex-wrap">
                        <b class="ms-3">موجودی </b>
                        <div>
                            <span class="ms-2">50</span>
                            تومان
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <form class="wallet--wrapper__form">
                    <div class="input-group wallet--wrapper__form__subject mb-3">
                        <input type="text" id="cash-input" class="form-control cash-input" placeholder="مبلغ واریزی">
                        <div class="input-group-text irr">IRR 0</div>
                    </div>
                    <div class="cash-amount text-start mb-5">
                        <span class="cash-letter ms-1" id="cash-letter">صفر</span>
                        ریال
                    </div>
                    <div class="choose-gateway">
                        <h5 class="panel-title panel-title--2 mb-4">
                            انتخاب درگاه
                        </h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <label>
                                <input class="radio-none" type="radio" name="test" value="small" checked>
                                <img class="radio-img" src="{% static 'img/bank-melli.png' %}" alt="بانک ملی ایران">
                            </label>
                            <label>
                                <input class="radio-none" type="radio" name="test" value="big">
                                <img class="radio-img" src="{% static 'img/zarinpal.png' %}" alt="زرین پال">
                            </label>
                        </div>
                    </div>
                    <input class="btn btn-primary continue-button d-block mx-auto mt-5" type="submit"
                           value="ادامه فرایند واریز">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_js %}
<!-- Num to Persian -->
<script src="{% static 'panel/node_modules/num2persian/dist/num2persian-min.js' %}"></script>
<script>
    $('#cash-input').keyup(function () {
        $('#cash-letter').html(Num2persian($('#cash-input').val()))
    });
</script>
{% endblock %}
