@font-face {
    font-family: "Kalameh Bold";
    src: url("Kalameh.eot");
    /* IE9*/
    src: url("Kalameh.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Kalameh.woff2") format("woff2"), /* chrome、firefox */
    url("Kalameh.woff") format("woff"), /* chrome、firefox */
    url("Kalameh.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("Kalameh.svg#Kalameh Bold") format("svg");
    /* iOS 4.1- */
}