{% load static %}
 <!-- ICONS -->
    <link rel="stylesheet" href="{% static 'panel/css/icons/style.css' %}">
    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="{% static 'panel/node_modules/animate.min.css' %}">
    <!-- WEB FONTS -->
    <link rel="stylesheet" href="{% static 'panel/webfonts/Kalameh/Kalameh.css' %}">
    <link rel="stylesheet" href="{% static 'panel/webfonts/YekanBakh/YekanBakh.css' %}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'panel/css/main.css' %}">