{% load static %}
<aside id="panel-sidebar" class="panel-sidebar">
    <div class="panel-sidebar--container">
        <div class="sidebar-header--wrapper d-none d-md-flex">
            <button class="navbar-toggler sidebar-toggler" type="button">
                <i class="icon icon-bars sidebar-toggle-bar d-none"></i>
                <svg class="icon sidebar-toggle-close d-inline" width="18" height="18" viewBox="0 0 18 18"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 2L9 9M9 9L2 16M9 9L16 16M9 9L2 2" stroke-width="2.88235" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                </svg>
            </button>
            <a class="navbar-brand" href="#" title="ترنسلیت فارست">
                <img class="navbar-logo" src="{% static 'img/main-logo.png' %}" alt="ترنسلیت فارست">
            </a>
        </div>

        <div class="panel-sidebar--container__wrapper">
            <ul>
                <li>
                    <a href="dashboard.html" class="active">
                        <i class="icon icon-solid-home"></i> داشبورد
                    </a>
                </li>
                <li>
                    <a href="orders-transactions.html">
                        <i class="icon icon-dir-arrows"></i> سفارشات و تراکنش ها
                    </a>
                </li>
                <li>
                    <a href="cart.html">
                        <i class="icon icon-solid-cart"></i> خرید و ثبت سفارش
                    </a>
                </li>
                <li>
                    <a href="ticket.html">
                        <i class="icon icon-solid-plane"></i> ارسال تیکت
                    </a>
                </li>
                <li>
                    <a href="employment.html">
                        <i class="icon icon-solid-form"></i> درخواست استخدام
                    </a>
                </li>
                <li>
                    <a href="wallet.html">
                        <i class="icon icon-solid-wallet"></i> کیف پول
                    </a>
                </li>
            </ul>
            <div class="invite-code">
                <h6>کد دعوت شما</h6>
                <div class="invite-code--box">
                    5563
                </div>
            </div>
        </div>
    </div>
</aside>