{% load static %}
<div class="sidebar-header--wrapper d-none d-md-flex">
    <button class="navbar-toggler sidebar-toggler" type="button">
        <i class="icon icon-bars sidebar-toggle-bar d-none"></i>
        <svg class="icon sidebar-toggle-close d-inline" width="18" height="18" viewBox="0 0 18 18"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M16 2L9 9M9 9L2 16M9 9L16 16M9 9L2 2" stroke-width="2.88235" stroke-linecap="round"
                  stroke-linejoin="round"></path>
        </svg>
    </button>
    <a class="navbar-brand" href="#" title="ترنسلیت فارست">
        <img class="navbar-logo" src="{% static 'img/main-logo.png' %}" alt="ترنسلیت فارست">
    </a>
</div>
