@font-face {
    font-family: 'Yekan Bakh';
    src: url('YekanBakh-Medium.eot');
    src: url('YekanBakh-Medium.eot?#iefix') format('embedded-opentype'),
        url('YekanBakh-Medium.woff2') format('woff2'),
        url('YekanBakh-Medium.woff') format('woff'),
        url('YekanBakh-Medium.ttf') format('truetype'),
        url('YekanBakh-Medium.svg#YekanBakh-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('YekanBakh-Bold.eot');
    src: url('YekanBakh-Bold.eot?#iefix') format('embedded-opentype'),
        url('YekanBakh-Bold.woff2') format('woff2'),
        url('YekanBakh-Bold.woff') format('woff'),
        url('YekanBakh-Bold.ttf') format('truetype'),
        url('YekanBakh-Bold.svg#YekanBakh-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('YekanBakh-Heavy.eot');
    src: url('YekanBakh-Heavy.eot?#iefix') format('embedded-opentype'),
        url('YekanBakh-Heavy.woff2') format('woff2'),
        url('YekanBakh-Heavy.woff') format('woff'),
        url('YekanBakh-Heavy.ttf') format('truetype'),
        url('YekanBakh-Heavy.svg#YekanBakh-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('YekanBakh-Regular.eot');
    src: url('YekanBakh-Regular.eot?#iefix') format('embedded-opentype'),
        url('YekanBakh-Regular.woff2') format('woff2'),
        url('YekanBakh-Regular.woff') format('woff'),
        url('YekanBakh-Regular.ttf') format('truetype'),
        url('YekanBakh-Regular.svg#YekanBakh-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('YekanBakh-Light.eot');
    src: url('YekanBakh-Light.eot?#iefix') format('embedded-opentype'),
        url('YekanBakh-Light.woff2') format('woff2'),
        url('YekanBakh-Light.woff') format('woff'),
        url('YekanBakh-Light.ttf') format('truetype'),
        url('YekanBakh-Light.svg#YekanBakh-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

