{% load static %}
<!-- START FOOTER SECTION -->
<footer class="main-footer text-secondary py-3">
    <div class="container">
        <!-- Company Info -->
        <div class="footer-ci row gx-sm-5">
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="footer-ci__box">
                    <h5>
                        خدمات
                    </h5>
                    <ul>
                        <li>
                            <a href="#">
                                نویسندگی
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                گویندگی
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                ویرایش
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                تولید محتوا
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                روخوانی
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="footer-ci__box">
                    <h5>
                        وبلاگ
                    </h5>
                    <ul>
                        <li>
                            <a href="#">
                                چگونه زبان بیاموزیم
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                سفر در خارج
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                آموزش زبان
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                تولید محتوا در سایت
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                دیگر
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="footer-ci__box">
                    <h5>
                        فروشگاه
                    </h5>
                    <ul>
                        <li>
                            <a href="#">
                                کتاب دانستنی ها
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                رمان ترجمه شده
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                آهنگ خارجی
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                رمان های خارجی
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                دیگر
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-lg-3">
                <div class="footer-ci__box">
                    <h5>
                        درباره ترنسلیت فارست
                    </h5>
                    <p class="lh-lg">
                        شرکت صدگان سامانه هوشمند یک شرکت سهامی خاص است که در اردیبهشت ۱۳۹۴ به ثبت رسیده است. این
                        شرکت به صورت تخصصی در زمینه ی تولید و عرضه ی نرم افزارهای یکپارچه مالی و
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 text-center text-md-end">
                <div class="footer-ci__box text-end">
                    <h5>
                        راه های ارتباطی
                    </h5>
                    <div class="footer-sm mx-auto mx-md-0">
                        <a href="#" title="تلگرام">
                            <i class="icon icon-telegram"></i>
                        </a>
                        <a href="#" title="فیسبوک">
                            <i class="icon icon-facebook-f"></i>
                        </a>
                        <a href="#" title="اینستاگرام">
                            <i class="icon icon-instagram"></i>
                        </a>
                        <a href="#" title="لینکدین">
                            <i class="icon icon-linkedin-in"></i>
                        </a>
                    </div>
                    <div class="footer-enamad text-center text-md-end me-md-4">
                        <a href="#">
                            <img src="{% static 'img/enamad-one-star.png' %}" title="نماد الکترونیکی"
                                 alt="نماد الکترونیکی یک ستاره" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Contact Info -->
    <div class="footer-contact">
        <div class="container-fluid">
            <div class="row justify-content-center text-center">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="footer-contact__phone">
                        <i class="icon icon-phone"></i>
                        <span>02188067197</span> -
                        <span>09210951011</span>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="footer-contact__address">
                        <i class="icon icon-location-plus"></i>
                        <span>
                              تهران، نبش یوسف آباد پنجاه و دوم، پلاک 404، طبقه سوم، واحد 10
                          </span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="footer-contact__email">
                        <i class="icon icon-email"></i>
                        <span>aref.safaei@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <div class="footer-bottom__copyright">
                        تمامی حقوق مادی و معنوی این سایت متعلق به سایت
                        <a href="">ترنسلیت فارست</a> میباشد
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER SECTION -->