@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gprki8');
  src:  url('fonts/icomoon.eot?gprki8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gprki8') format('truetype'),
    url('fonts/icomoon.woff?gprki8') format('woff'),
    url('fonts/icomoon.svg?gprki8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-brands .path1:before {
  content: "\e932";
  color: rgb(63, 81, 181);
}
.icon-facebook-brands .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-google-brands .path1:before {
  content: "\e933";
  color: rgb(255, 193, 7);
}
.icon-google-brands .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 61, 0);
}
.icon-google-brands .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(76, 175, 80);
}
.icon-google-brands .path4:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-eye-slash-solid:before {
  content: "\e939";
}
.icon-eye-solid:before {
  content: "\e93a";
}
.icon-twitter-circle:before {
  content: "\e934";
  color: #60a9dd;
}
.icon-close:before {
  content: "\e930";
}
.icon-solid-board-chart:before {
  content: "\e91e";
}
.icon-solid-chart:before {
  content: "\e91f";
}
.icon-solid-magic-wand:before {
  content: "\e920";
}
.icon-calendar-date:before {
  content: "\e921";
}
.icon-solid-person:before {
  content: "\e922";
}
.icon-down:before {
  content: "\e923";
}
.icon-calendar:before {
  content: "\e91c";
}
.icon-triangle:before {
  content: "\e927";
  color: #418dcc;
}
.icon-chevron2-up:before {
  content: "\e912";
}
.icon-chevron2-down:before {
  content: "\e913";
}
.icon-solid-complex:before {
  content: "\e914";
}
.icon-support-man:before {
  content: "\e915";
}
.icon-solid-briefcase:before {
  content: "\e916";
}
.icon-brain-gear:before {
  content: "\e917";
}
.icon-solid-comments:before {
  content: "\e918";
}
.icon-solid-tokenisms:before {
  content: "\e919";
}
.icon-solid-order:before {
  content: "\e91a";
}
.icon-solid-explain:before {
  content: "\e91b";
}
.icon-check:before {
  content: "\e911";
}
.icon-solid-key:before {
  content: "\e93b";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-clipboard:before {
  content: "\e902";
}
.icon-edit:before {
  content: "\e903";
}
.icon-email:before {
  content: "\e904";
}
.icon-facebook-f:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-landline:before {
  content: "\e907";
}
.icon-linkedin-in:before {
  content: "\e908";
}
.icon-location-plus:before {
  content: "\e909";
}
.icon-microphone:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-telegram:before {
  content: "\e90c";
}
.icon-translate:before {
  content: "\e90d";
}
.icon-write:before {
  content: "\e90e";
}
.icon-chevron-down:before {
  content: "\e90f";
}
.icon-chevron-up:before {
  content: "\e910";
}
.icon-solid-exit:before {
  content: "\e928";
}
.icon-solid-wallet:before {
  content: "\e929";
}
.icon-solid-form:before {
  content: "\e92a";
}
.icon-solid-plane:before {
  content: "\e92b";
}
.icon-solid-cart:before {
  content: "\e92c";
}
.icon-dir-arrows:before {
  content: "\e92d";
}
.icon-solid-home:before {
  content: "\e92e";
}
.icon-bars:before {
  content: "\e92f";
}
.icon-star:before {
  content: "\e91d";
}
.icon-times:before {
  content: "\e924";
}
.icon-ellipsis-h-solid:before {
  content: "\e931";
}
.icon-pause-solid:before {
  content: "\e925";
}
.icon-play-solid:before {
  content: "\e926";
}
